header {
    padding-top: 5rem;
    height: calc(80%);
    width: var(--container-width-lg);
    margin: 0 auto;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    margin-bottom: 40rem;
}

/* =============== CTA ============= */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =============== SCROLL DOWN ============= */
.scroll__down {
    position: absolute;
    right: -7rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    bottom: 7rem;
}

/* =============== HEADER SOCIALS ============= */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: -5rem;
    bottom: 4rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =============== ME ============= */
.me {
    width: 80%;
    height: 80%;
    margin-top: 3rem;
    margin-bottom: -40rem;
    margin-left: 6rem;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ======= */
@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;
    }

    .me {
        width: 120%;
        height: 120%;
        margin-top: 3rem;
        margin-left: -1.5rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ======= */
@media screen and (max-width: 600px) {
    .header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        width: 120%;
        height: 120%;
        margin-top: 3rem;
        margin-left: -1.35rem;
    }
}