header {
    padding-top: 5rem;
    height: calc(80%);
    width: var(--container-width-lg);
    margin: 0 auto;
}

.container__header {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}

.container__header  {
    gap: 2rem;
    align-content: center;
    align-items: center;
}

.container__header > h2 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: var(--color-primary);
}

/* =============== HEADER SOCIALS ============= */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: -5rem;
    bottom: 4rem;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ======= */
@media screen and (max-width: 1024px) {
    .header {
        height: 68vh;
    }

    .me {
        width: 120%;
        height: 120%;
        margin-top: 3rem;
        margin-left: -1.5rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ======= */
@media screen and (max-width: 600px) {
    .header {
        height: 100vh;
    }

    .header__socials, .scroll__down {
        display: none;
    }

    .me {
        width: 120%;
        height: 120%;
        margin-top: 3rem;
        margin-left: -1.35rem;
    }
}